*{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


#home{
    background-image: url("./images/IP3-master/assets/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: small;
    height: 100%;
}

#services{
    background-image: url("./images/IP3-master/assets/backgrounds/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    color: white;
    
}

#portfolio{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* #we-do{
    display: inline-block;
    width: 100%;
    justify-content: center;
} */

h1{
    margin-top: 50px;
    text-transform: uppercase;
    text-decoration: underline;
}
 
#design-show, #development-show, #product-show{
    display: none;
}

/* #what {
    display: inline-block;
    justify-content: center; 
    width: 100px;
    height: 100px;
    padding: 5px; 
} */
  
  /* .type1 {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;   
}
  
.type2 {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;    
} */

/* #what{
    display: inline-flexbox;
    justify-content: center;
} */

/* .click, .click1, .click2{
    display: inline;
    justify-content: center;
} */


#contacts{
    background-image: url("./images/IP3-master/assets/backgrounds/c_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%; 
}


input{
    text-align: left;
}

textarea{
    text-align: left;
}

.overlay img{
    opacity: 1;
    cursor: initial;
}
.overlay img:hover{
   opacity: 0.5;
}

.type, .type1, .type2{
    text-align: center;
    justify-content: center;
    overflow: hidden;
}

.click, .click1, .click2{
    display: none;
}
